name: Electron Build and Release

on:
  push:
    tags:
      - 'v*' # Запускать рабочий процесс при пуше тегов, начинающихся с 'v' (например, v1.0.0)

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' # Используйте версию Node.js, которая подходит для вашего проекта

      - name: Install dependencies
        run: npm install

      - name: Build Electron app
        run: npm run make

      - name: Upload artifacts to Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            out/**/*.deb
            out/**/*.rpm
            out/**/*.AppImage
            out/**/*.zip
          prerelease: ${{ contains(github.ref, '-beta') || contains(github.ref, '-rc') }}
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
